@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&family=Roboto:wght@100;400;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Asegúrate de que el HTML y el body ocupen toda la altura de la ventana */
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.contact-info {
    max-width: 45%;
}

.contact-info h2 {
    margin-bottom: 10px;
    color: white;
}

.contact-info p {
    margin-bottom: 5px;
    color: white;
}

.contact-info a {
    color: #0044cc;
    text-decoration: none;
}


.contact-form {
    max-width: 45%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h1{
    color: white;
}

.contact-form button:hover {
    background-color: #003399;
}

.banner2{
    width: 100%;
    position: relative;
    height: 100vh;
    background: url('imagenes/WebHosting.png')
    no-repeat center center/cover;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.banner2 .texto_banner2{
position: relative;
height: 660px;
top:  46.4%;
left: 49%;
transform: translate(-49%, -46%);
min-width: 50%;
min-height: 50%;
border-radius: 0px;
background-color: rgba(0, 0, 0, 0.8);
}